html {
    scrollbar-color: #2ec4b6 #242b2a;

    --color-title: rgb(46, 196, 182);
    --color-title-section: rgb(215, 79, 53);
}
body{
    margin: 0;
}

header{
    background-color : rgb(57, 76, 102);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header, header>*{
    height: 64px;
}
h1{
    color : var(--color-title);
    margin: 0;
    height: max-content;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
h2{
    color :  var(--color-title-section);
    font-family: Courgette, cursive;
    height: max-content;
    text-align: center;
    text-decoration: underline;
}
p img{
    float: left;
}
p img:nth-of-type(odd){
    float: right;
}

section{
    width: 100%;
    margin: 0 0 5px;
    padding: 5%;
}
section img{
    max-height: 100px;
}
section>*{
    width: 90%;
}


#parcours{
    background: url("../img/fond.png");
}
#map{
    width: 90%;
    height: 2%;
    background-color: red;
}